<div class="nav-bar">
  <a class="active" href="#painel">Painel</a>
  <a href="#clientes">Clientes</a>
  <a href="#animais">Animais</a>
  <a href="#servicos">Serviços</a>
  <a href="#produtos">Produtos</a>
  <a href="#exames">Exames</a>
  <a href="#vacinas">Vacinas</a>
  <a href="#relatorios">Relatórios</a>
  <a href="#funcionarios">Funcionários</a>
</div>
